h4{

	text-transform: uppercase;

}

.posts-list{

	div{

		border-bottom: 4px solid rgba(125,125,125,0.25);		

	}

}

.buttons-container{

	text-align: right;

	button{

		&:first-child{
			margin-right:10px;
		}

		background-color: #eee;

		margin-bottom:10px;

	} 
}